@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <form method="post">
            <div>@Html.Raw(Model.ChartJson)</div>
            <br />
        </form>
    </div>
